$bg-color: #05053c;
$hover-color: #f1a02d;
$font: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: $bg-color;
}

.navbar {
  background-color: $bg-color;
  margin-top: 1.5rem;

  .navbar-toggler {
    // border-color: $font;
    .navbar-toggler-icon {
      font-size: 2rem;
    }
  }

  .navbar-brand {
    color: $font;
    margin-left: 0.5rem;

    &:hover {
      color: $hover-color;
    }
    #logo {
      border-radius: 12px;
      margin-left: 3rem;
    }
  }

  .nav-items {
    .navbar-nav {
      .nav-item {
        .nav-link:hover {
          color: $hover-color;
        }
      }
      .nav-link {
        font-size: 24px;
        color: $font;
        :hover {
          color: $hover-color;
        }
      }
      .nav-item.active {
        .nav-link {
          color: $hover-color;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  .art {
    margin-top: 2rem;
    margin-left: 0.5rem;
    figure {
      img {
        width: 518px;
        height: 452px;
        border-radius: 47px;
      }
    }
  }

  .text {
    overflow-x: hidden;
    .head {
      width: 20rem;
      height: 9rem;
      h1 {
        // font-size: 2rem;
        color: $font;
        font-weight: 800;
        // word-break: normal;
        // overflow-wrap: anywhere;
      }
    }

    .buttons {
      // margin-top: 3rem;
      .btn {
        background-color: $hover-color;
        color: $font;
        border-radius: 24px;
        margin-top: 2rem;

        &:hover {
          color: $hover-color;
          background-color: $font;
        }
      }

      .menu {
        border-radius: 24px;
        color: $hover-color;
        background-color: $font;
        margin-left: 1rem;
        // font-size: 1.25rem;
        // margin: 5rem 0 0 0;
        &:hover {
          color: $font;
          background-color: $hover-color;
        }
      }
    }
  }
}

#menu {
  display: grid;
  grid-template-areas:
    "table1 table2"
    "table3 table4"
    "table5 table6";

  .dish {
    margin: 3rem 0 0 6rem;

    .list {
      color: $hover-color;
      border-spacing: 0.9rem 0.5rem;
      border-collapse: separate;
      th {
        text-transform: uppercase;
        border-bottom: 1.5px dashed $hover-color;
        font-size: 24px;
        font-weight: 900;
      }
      tr {
        color: #e4a143;
        .dish-name {
          // margin: 2rem 0 2rem 0;
          color: $font;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
        }
        .price {
          color: $font;
          text-align: right;
          margin-left: 3rem;
        }
      }
    }
  }

  .table1 {
    grid-area: table1;
  }
  .table2 {
    grid-area: table2;
  }
  .table3 {
    grid-area: table3;
  }
  .table4 {
    grid-area: table4;
  }
  .table5 {
    grid-area: table5;
  }
  .table6 {
    grid-area: table6;
  }
}
